:host {
	background-color: var(--primary-color);
	display: block;
	padding: 1rem;

	button {
		background-color: #FFF;
		border: none;
		border-radius: .1rem;
		cursor: pointer;
		margin-right: .5rem;
		padding: .4rem .7rem;

		&:hover {
			background-color: #DDD;
		}
	}
}